* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(91, 186, 35);
    background-image: url("./beige-paper.png");
}

h1 {
    align-self: center;
}

#calc-container {
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    flex-flow: column;
    width: 280px;
    background-color: rgb(17, 179, 60);
    border: 2px solid black;
    border-radius: 4px;
    padding: 8px;
}

#fields {
    display: flex;
    flex-flow: column;
}

#fields > * {
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: space-between;
}
